
    
    
    /* Style the body */

    html{
      margin: 0;
    }

    body {
   
    }
    
    /* Header/logo Title */

    .header {
      padding: 60px;
      text-align: center;
      background: #1abc9c;
      color: white;
      font-size: 30px;
    }


  
    .icon-bar{
      background: darkorange;

    }
    /* Increase the font size of the heading */
    .header h1 {
      font-size: 40px;
    }
    
    /* Style the top navigation bar */
    .navbar {
      overflow: hidden;
      background-color: #333;
      width: 100%;
      display: flex;
     
      
    }

    
    

    
    /* Style the navigation bar links */
    .navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }
    
    /* Right-aligned link */
    .navbar a.right {
      float: right;
    }
    
    /* Change color on hover */
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }
   
    
  
    
 
   

    body {
      background: linear-gradient(-5deg, #e7ddda, #f8f2f4, #d8ebf1, #e9f0ee);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
      height: 100vh;
        width: 100%;

        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
     
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    

    th {
      width:200px;
     
      border:5px solid black;
      
    
    
  }



  .bottomright {
    position: inline;
    bottom: 8px;
    width:50%;
    right: 16px;
    font-size: 18px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  dt,dd {
    text-decoration:"none";
  color: #000;
  }